---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio" description="Pagina principal de qnalyst">
	<h1>Analisis de datos</h1>
	<p>plataforma para analistas de datos</p>
</Layout>
